.container {
    position: relative; /* important for floating toolbar */
    flex: 1;            /* fills right column */
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    height: 94dvh;
}

.title {
    outline: none;
    border: 2px solid transparent;
    width: 400px;
    font-family: "Work Sans";
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 0 auto 8px auto;
}
.title::placeholder {
    font-weight: 600;
}

.title:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.noteArea {
    flex: 1;
    resize: none;
    padding: 12px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    
    font-family: "Work Sans", sans-serif;
    line-height: 1.6;
    background: transparent;
    overflow-y: auto;
}

.noteArea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dateTime {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Work Sans", sans-serif;
}