.container {
    position: relative; /* important for floating toolbar */
    flex: 1;            /* fills right column */
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    height: 100vh;
}

.title {
    outline: none;
    border: 2px solid transparent;
    width: 400px;
    font-family: "Work Sans";
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}
.title::placeholder {
    font-weight: 600;
}

.title:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.noteArea {
    flex: 1;
    resize: none;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    
    font-family: "Work Sans", sans-serif;
}

.noteArea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}