@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Work Sans";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --main-bg:  #F7F7F7;
  --sage-active: #7AA38F;
  --sage-hover: #7AA38F30;
}

body {
  background-color: var(--main-bg);
}

.app-container {
  display: flex;
  background: #f9f9f9;
  overflow: hidden;
}