body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.main-container {
    max-width: 600px;
    background-color: white;
    margin: auto;
    align-items: center;
    text-align: center;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

#notes-container {
  margin-top: 20px;
}

.note {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}