@property --fields{
    syntax: "<color>";
    inherits: true;
    initial-value: #f3ece1;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h1 {
    user-select: none;
}
.main-container {
    max-width: 600px;
    height: 600px;
    background-color: rgb(229, 226, 226);
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: contain;
    overflow:inherit;
}

input, textarea {
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 0.2px;
    border-radius: 5px;
    background-color: var(--fields);
    transition: border-width 0.8s ease, border-color 0.8s ease, background-color 0.8s ease;
    
}
textarea {
    max-height: 300px;
    overflow: auto;
}

input:focus,
textarea:focus {
    outline: none;
    background-color: #f7f0f0;
    border: 0.2px solid #bbb;
}

#note-content {
    max-width: 500px;
}

#notes-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.note {
    background: #fff;
    border: 1px solid #ccc;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.note-header h3 {
    overflow: hidden;
}


.note-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
    background: #fff; /* Ensure content has a white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.note-title {
    cursor: pointer;
}


button {
    cursor: pointer;
    padding: 8px;
    border: 0.2px solid rgb(222, 200, 200);
    border-radius: 8px;
    background-color: #f8e6c9;
    height: 40px;
}

#search {
    margin-top: 10px;
}