.container {
    position: absolute;       /* float inside NoteForm */
    bottom: 10px;             /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    background-color: var(--main-bg);
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    gap: 5px;

    box-shadow: 0 3px 5px rgb(126, 125, 125);

}

.btn {
    font-family: "Work Sans";
    font-size: 16px;
    
    background: transparent;
    outline: none;
    border: transparent;
    border-radius: 6px;
    padding: 6px;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: rgb(203, 199, 199);
    cursor: pointer;
    
}

.saveBtn {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;

    background-color: var(--sage-btn);
    outline: none;
    border: transparent;
    border-radius: 6px;
    padding: 6px;
    transition: background-color 0.2s ease;
}

.saveBtn:hover {
    background-color: var(--sage-hover);
    cursor: pointer;
    
}

b {
    font-weight: 600;
}

em {
    font-family: serif;
}