.container {
    position: absolute;       /* float inside NoteForm */
    bottom: 10px;             /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    background-color: aliceblue;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    gap: 8px;

    box-shadow: 0 3px 5px rgb(126, 125, 125);

}

.btn {
    font-family: "Work Sans";
    font-size: 16px;
}

b {
    font-weight: 600;
}

em {
    font-family: serif;
}