.sidebar {
  width: 200px;
  background: #f3f3f3;
  border-right: 1px solid #ddd;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 20px;
  color: #929292;
  text-transform: uppercase;
  margin: 16px 0;
  font-weight: 500;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.list li {
  margin: 0 0 0 8px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  transition: background 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 350;
  font-size: 18px;
  color: #6B7565;
}


.icons {
  display: flex;
  gap: 6px;
}

.list li:hover {
  background-color: var(--sage-hover);
}


/* SVG rename icon stroke transition */
.renameIcon svg path,
.trashIcon svg path {
  stroke: var(--sage-btn);
  transition: stroke 0.2s ease;
}


.trashIcon, .renameIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.trashIcon:hover svg path{
  stroke: #ff4d4d;
}

.renameIcon:hover svg path {
  stroke: var(--sage-active);
}


/*---------------------------FOLDERS------------------------------*/
.folderTitle {
  font-size: 20px;
  color: #929292;
  text-transform: uppercase;
  margin: 50px 0 8px 0;
  font-weight: 600;
}
/* Rename input */
.folderRenameInput {
  width: 100%;
  padding: 5px 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.folderRenameInput:focus {
  border-color: #4d90ff;
  background-color: #fff;
}

/* Folder Input Wrapper (slide/fade) */
.folderInputWrapper {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.folderInputWrapper.active {
  height: 32px; /* input height */
  opacity: 1;
}

/* Input field */
.folderInput {
  width: 100%;
  padding: 5px 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.folderInput:focus {
  border-color: #888;
  background-color: #fff;
}

/* Add Folder Button */
.addFolderBtn {
  margin: 24px 24px 12px 12px;
  padding: 12px 24px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--main-bg);
  background-color: var(--sage-active);
  border: none;
  box-shadow: 0 2px 4px 0 rgba(122, 163, 143, 0.19);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addFolderBtn:hover {
  background-color: var(--sage-btn);
  color: #6B7565;
}

.addFolderBtn.hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

/* New folder animation */
.newFolder {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideFadeIn 0.3s forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*Selected folder */
.list li.selected {
  background-color: var(--sage-active); /* light blue highlight */
  color: var(--main-bg);
  font-weight: 600;
}
